Source: snapdev
Priority: extra
Maintainer: R. Douglas Barbieri <doug@dooglio.net>
Build-Depends: cmake,
    debhelper,
    doxygen,
    graphviz,
    libexcept-dev (>= 1.1.0.0~xenial),
    snapcatch2 (>= 2.7.2.10~xenial),
    snapcmakemodules (>= 1.0.35.3~xenial)
Standards-Version: 3.9.4
Section: devel
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapdev.git
Vcs-Browser: https://github.com/m2osw/snapdev

Package: snapdev
Section: devel
Architecture: any
Depends: ${misc:Depends}
Suggests: snapdev-doc
Description: C++ headers for development purposes.
 This library provides useful C++ headers for our Snap! C++ and other projects.

Package: snapdev-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for the snapdev project.
 The documentation from the snapdev headers extracted using Doxygen.

# vim: ts=4 sw=4 et
